  <mat-grid-list cols="4" rowHeight="120px">
    <mat-grid-tile *ngFor="let infoCard of infoCards">
      <mat-card [ngClass]="infoCard.bgClass" class="dashboard-cards">
        <mat-card-header>
          <div mat-card-avatar>
            <mat-icon matListIcon class="icon">{{infoCard.icon}}</mat-icon>
          </div>
          <mat-card-title>{{infoCard.title}}</mat-card-title>
          <mat-card-subtitle class="subtitle">
            <strong>{{infoCard.subtitle}}</strong>
          </mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list cols="2" rowHeight="1.8:1">
    <mat-grid-tile>
      <mat-card class="chart-card">
        <mat-card-content class="chart-content">
          <canvas baseChart
          [data]="lineChartData"
           [labels]="lineChartLabels"
           [options]="lineChartOptions"
           [colors]="lineChartColors"
          chartType="bar"
          >
        </canvas>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card class="chart-card">
        <mat-card-content class="chart-content">
          <canvas baseChart
          [data]="doughnutChartData"
          [labels]="doughnutChartLabels"
          [chartType]="doughnutChartType"
          >
        </canvas>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

  </mat-grid-list>
