
mat-form-field {
  display: block;
}

.login-card {
  background-color: #FFF;
  max-width: 280px;
  min-height: 240px;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  top: 100px;
  border: 1px solid #ddd;
}

.field-item {
  padding: 10px;
  margin: 10px;
}

.action-item {
  margin-right:10px;
  float:right;
}


